Source: kodi-visualization-projectm
Priority: extra
Maintainer: Team Kodi <contact@kodi.tv>
Uploaders: Arne Morten Kvarving <spiff@xbmc.org>,
           Wolfgang Schupp <wsnipex@kodi.tv>
Build-Depends: debhelper (>= 8.0.0), cmake, kodi-addon-dev, libp8-platform-dev, libprojectm-dev,
               kodi-visualization-dev, libgl1-mesa-dev, pkg-config
Standards-Version: 3.9.5
Section: libs
Homepage: http://kodi.tv

Package: kodi-visualization-projectm
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ProjectM visualizer for Kodi
 ProjectM visualizer for Kodi

Package: kodi-visualization-projectm-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for ProjectM visualizer for Kodi
 debug symbols for ProjectM visualizer for Kodi

